h4 {
    font-size: 24px;
}

.resume-info-container {
    display: flex;
    gap: 280px;
    margin-bottom: 26px;
}
 
/* Work experience section */
.work-experience-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

div.work-experience > p {
    font-size: 20px;
    margin: 8px 0;
}


/* Education section */
.education-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

div.education > p {
    font-size: 20px;
    margin: 8px 0;
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

.list {
    display: flex;
    gap: 130px;
}

.tools-container {
    display: flex;
}

li {
    font-size:20px ;
    list-style: none;
    margin: 16px 0;
}


/* Online Courses Section */
.courses-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

.online-course {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.online-course > p {
    font-size: 20px;
}

.title {
    display: flex;
    position: relative;
    z-index: 0;
    align-items: center;
    margin-bottom: 32px;
}

.title > h2 {
    margin:0 0 0 25px;
}

.resume-dot {
    position: absolute;
    z-index: -1;
    display: flex;
    height: 70px;
    width: 70px;
    background: #4498F7;
    border-radius: 50%;
    margin-bottom: 8px;
  }